.miniature {
  display: flex;
  align-items: center;
  align-content: center;

  &__button {
    border: none;
    outline: none;
    background-color: #2980b9;
    color: #ecf0f1;
    font-size: .9vw;
    border-radius: .4vw;
    padding: .5vw 1vw;
    margin: .5vw;
    cursor: pointer;

    &:active {
      border: solid .05vw #2c3e50;
    }
  }
}

@media (max-width: 1024px) {
  .miniature {
    &__button {
      font-size: 4vw;
      border-radius: 1vw;
      padding: 1vw 2vw;
      margin: 1vw;
  
      &:active {
        border-width: 2vw;
      }
    }
  }
}
