<div class="uploadimage">
  <input placeholder="Description" v-model="imageDescription" type="text" @input="handlerInputText($event)" class="uploadimage__inputdescription">

  <label class="uploadimage__labelfile" for="inputFile">
    <span v-if="uploadImageManager" class="uploadimage__labelfile--text">Add a description to the image</span>
    <img v-if="!uploadImageManager" src="../../assets/upload.svg" alt="Upload" class="uploadimage__labelfile--icon">
  </label>

  <input :disabled="uploadImageManager" type="file" @change="uploadImage($event)" id="inputFile" class="uploadimage__inputfile">
</div>