<div class="home">
  <div class="home__containertitle">
    <h1 class="home__containertitle-title">Image 360</h1>
  </div>

  <UploadImage />

  <span v-if="arrayImagesNames.length > 0" class="home__textwithoutimages">Click on the button with the name of the image to be deleted</span>
  <div class="home__miniatures">
    <Miniature
      v-for="(imageName, index) in arrayImagesNames"
      :key="index"
      :text="imageName.name"
      :idButton="index"
      @click.native="setImageSelected(index)"
    />
  </div>

  <span v-if="arrayImagesNames.length <= 0" class="home__textwithoutimages">Upload your first image</span>
  <Image360
    v-for="(dataImage, i) in arrayImagesNames"
    :idCotent="`${dataImage.name}${i}`"
    :imageSelected="dataImage"
  />
</div>