.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__containertitle {
    width: 100%;
    background-color: #2980b9;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 42px -24px rgba(0,0,0,0.75);
    margin: 0 0 2vw 0;

    &-title {
      color: #ecf0f1;
      font-size: 2vw;
    }
  }

  &__miniatures {
    width: 60vw;
    margin: 0 0 2vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__textwithoutimages {
    color: #2c3e50;
    font-size: 3vw;
  }
}

@media (max-width: 1024px) {
  .home {
    &__containertitle {
      margin: 0 0 10vw 0;
  
      &-title {
        color: #ecf0f1;
        font-size: 6vw;
      }
    }
  
    &__miniatures {
      width: 90vw;
    }
  
    &__textwithoutimages {
      font-size: 6vw;
      padding: 4vw;
    }
  }
}
